@font-face {
    font-family: '8Bit_Operator';
    src: url(../../fonts/undertale-deltarune-extended-fixed.otf)
}

* {
    font-family: "8Bit_Operator";
    margin: 0;
    user-select: none;
}

html,
body {
    height: 100%;
    background-color: black;
    cursor: url("../../img/hacker_cursor.png"), auto;

}

.clickable:hover {
    cursor: url("../../img/hacker_cursor_c.png"), auto;
}

#eggzone {
    display: block;
    position: fixed;
    inset: 0;
    overflow: hidden;
}

#scene {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 1080px;

    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transform-origin: center center;
}

#char_novu {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    height: 200px;

    z-index: 100;
}

#tree {
    display: none;

    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    left: 1015px;
    top: 350px;

    z-index: 99;
}

#dialoguetext {
    text-align: center;
    color: white;

    display: none;

    position: absolute;
    width: 1800px;
    height: 100px;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    line-height: 80px;
    user-select: none;
}

#text_speak {
    width: 100%;
    table-layout: fixed;
    font-size: 50px;

    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;

    #asterisk {
        width: 80px;
        text-align: center;
        vertical-align: top;
    }
}

#text_speak td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#dialoguetext_b {
    /* border: 1px red solid; */
    text-align: top;

    display: none;

    position: absolute;
    width: 1184px;
    height: 288px;
    top: 67%;
    left: 48.5%;
    transform: translateX(-50%);
    margin-top: 15px;
    line-height: 80px;
    user-select: none;

    p {
        font-size: 50px;
        margin: 0px;
        padding: 10px;
    }
}

#text_speak_b {
    width: 100%;
    table-layout: fixed;
    font-size: 53px;
    color: white;
    text-shadow: 1px 1px #0f0f71;

    #asterisk {
        width: 80px;
        text-align: center;
        vertical-align: top;
    }
}

#text_speak_b td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#dialoguebox_b {
    display: none;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translateX(-50%);
}

#eltiovyn {
    display: none;
}

.port,
.warn_btn {
    /* border: 5px rgb(255, 0, 183) solid; */

    position: absolute;
    transform: translateX(-50%);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;
    z-index: 199;
}

#computer {
    z-index: 1226;
    top: 51%;
    left: 31%;
    width: 500px;
    height: 343px;
}

#smartfridge {
    z-index: 1227;
    top: 51%;
    left: 69%;
    width: 500px;
    height: 343px;
}

#warning {
    position: absolute;
    z-index: 1225;
}

#img_btns {
    position: absolute;
    z-index: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: manipulation;
    pointer-events: none;
}

#up {
    top: 64.5%;
    left: 10.5%;
    width: 100px;
    height: 120px;
}

#down {
    top: 86%;
    left: 10.5%;
    width: 100px;
    height: 120px;
}

#left {
    top: 76.5%;
    left: 4.4%;
    width: 112px;
    height: 93px;
}

#right {
    top: 76.5%;
    left: 16.7%;
    width: 115px;
    height: 93px;
}

#key_x {
    top: 63%;
    left: 93.6%;
    width: 181px;
    height: 180px;
}

#key_z {
    top: 80%;
    left: 84.7%;
    width: 181px;
    height: 180px;
}