@font-face {
    font-family: '8Bit_Operator';
    src: url(../../fonts/8bitOperatorPlus-Bold.ttf)
}

* {
    font-family: "8Bit_Operator";
    margin: 0;
    user-select: none;
}

html,
body {
    height: 100%;
    background-color: black;
    color: white;
    cursor: url("../../img/hacker_cursor.png"), auto;
}

body {
    opacity: 0;
    transition: opacity 1s ease-in;
}

body.loaded {
    opacity: 1;
}

.clickable:hover {
    cursor: url("../../img/hacker_cursor_c.png"), auto;
}

#scene {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(img/bombillo_12.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.selected {
    color: yellow;
}

#code {
    border: 5px solid white;
    padding: 10px;

    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#code p {
    margin: 0;
    font-size: 100px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: #ff00ff;
}

span {
    padding: 20px;
    display: inline-block;
    width: 1ch;
    text-align: center;
}

#num1 {
    background-color: #005300;
}

#num2 {
    background-color: #810000;
}

#num3 {
    background-color: #888800;
}

#num4 {
    background-color: #800080;
}

#dialogue {
    font-size: 70px;
    text-align: center;

    -webkit-text-stroke: 5px #000;
    paint-order: stroke fill;
}

#arrows,
#button {
    height: 215px;
}

#arrows {
    margin-left: 10px;
}

#button {
    margin-right: 7px;
}

.buttons {
    /* border: 5px rgb(255, 0, 183) solid; */
    position: absolute;
    transform: translateX(-50%);
    user-select: none;
}

#act {
    left: 1300px;
    width: 133px;
    height: 116px;
    top: 477px;
}

#arrowdown {
    left: 592px;
    width: 94px;
    height: 73px;
    top: 558px;
}

#arrowup {
    left: 592px;
    width: 94px;
    height: 73px;
    top: 438px;
}

#realweb {
    display: none;
}

#unknown {
    position: absolute;
    left: 42%;
    width: 16%;
    height: 39%;
    top: 30%;
}